@import "tailwindcss";

@theme {
  --color-brand-ice: #dffafc;
  --color-brand-mint: #54dea1;
  --color-brand-dark: #052c2e;

  --color-background: var(--color-brand-dark);
  --color-foreground: var(--color-brand-ice);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    line-height: inherit;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
